@import "../../../styling/variable.scss";

.jobs, 
.job{  
  margin-top: 5rem;
  margin-bottom: 5rem;
  .section-title{
    font-size: 32px !important;
  }
  .ui.container{
    margin-bottom:50px;
  }
  .jobOffer{
    padding-left: 44px;
    padding-top: 24px;
    margin-bottom: 40px;
  }
  .title{
    font-size: 20px;
    margin-bottom: 10px;
    color: $mainColor;
    & > a{
      font-weight: 400;
      color: $mainColor;
      &:hover{
        color:$mainColorLight;
      }
    }
  }
  .content{
    line-height: 1.5;
  }
  ul{
    list-style-type: none;
  }
}