@import '../../../styling/variable.scss';

$border-width: 1px;
$paddingVertical: 20px;
$paddingHorizontal: 20px;
$paddingItem: $paddingVertical $paddingHorizontal;

.nav-bar {
  margin-left: 4em;
  margin-right: 4em;
  .ui.grid > .column:not(.row) {
    padding-bottom: 0rem;
    border-bottom: solid 1px $mainColor;
  }
  .ui.secondary.inverted.menu,
  .ui.secondary.pointing.menu {
    border: none;
    &.top-menu {
      padding-bottom: 20px;
      .item {
        font-size: 0.75rem;
        padding-top: 0em;
        padding-bottom: 0em;
        color: rgba(158, 154, 154, 0.9) !important;
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        border-bottom-width: 0px;
        &:hover {
          color: $textColor !important;
        }
        .dropdown {
          border: none;
          margin-bottom: 0px;
        }
      }
      .menu.transition.visible {
        background: rgba(22, 22, 22, 0.8);
        z-index: 2000;
        .item {
          color: $textColor !important;
          &:hover {
            background: rgba(96, 96, 96, 0.8) !important;
          }
        }
      }
    }
    &.main-menu {
      font-size: 1.2em;
      a.item.above-mobile {
        border-bottom-width: 2 * $border-width;
        padding: $paddingVertical $paddingHorizontal;
        margin-top: 0;
        outline: 0;
        &.common {
          color: #d5d5d5 !important;
          &:hover {
            color: $textColor !important;
            border-bottom-color: $mainColor;
            padding-bottom: $paddingVertical - 2 * $border-width;
            padding-top: $paddingVertical + 2 * $border-width;
            bottom: 2 * $border-width;
          }
          &.active {
            border-bottom-color: $mainColor;
            padding-bottom: $paddingVertical - 2 * $border-width;
            padding-top: $paddingVertical + 2 * $border-width;
            bottom: 2 * $border-width;
          }
        }
        &.buy-now {
          & > button.ui.button {
            background: $background-color;
            border: solid 2px $mainColor;
            color: #d5d5d5;
            border-radius: 30rem;
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
            &:hover {
              background: $mainColor;
              color: $textColor;
            }
          }
        }
      }
    }
  }
  .logo {
    max-height: 6rem;
    @media (max-width: $screen-mobile) {
      height: 2rem;
      margin-bottom: auto;
      margin-top: auto;
    }
  }

  .logo-mobile {
    @media (max-width: $screen-mobile) {
      margin-left: auto;
      margin-right: auto;
      padding: 1em;
      & > img {
        height: 4rem;
      }
    }
  }

  .right {
    margin-left: auto !important;
  }
  .left {
    margin-right: auto !important;
  }
  .ui.grid {
    margin-top: 0;
    margin-bottom: 0;
    & > .row {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  i.icon {
    font-size: 1.5em;
  }
}

.nav-toggle {
  width: 32px;
  height: 4px;
  position: relative;
  margin-bottom: 32px;
  margin-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 2.5px;
    width: 100%;
    background: $textColor;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    &:nth-child(1) {
      top: 4px;
    }
    &:nth-child(2) {
      top: 12px;
    }
    &:nth-child(3) {
      top: 12px;
    }
    &:nth-child(4) {
      top: 20px;
    }
  }
}
.nav-toggle.active {
  span {
    &:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}

.soundcheck-link {
  text-decoration: none;
  color: white;

  :hover{
    color: white;
  }

    @media only screen and (max-width: 523px){
      margin: 0 auto;
    }
}

.soundcheck-button {
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(rgb(245, 109, 44) 0%, rgb(204, 84, 27) 100%);
  height: 55px;
  margin: 18px 0px;
  width: 190px;
  border-radius: 10px;
  :hover{
    color: white;
  }
  @media only screen and (max-width: 523px){
    margin: 18px auto;
  }
}

$bm-bg: rgba(0, 0, 0, 0.9);

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 24px;
  height: 18px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #d5d5d5 !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 4rem !important;
  top: 10px !important;
  opacity: 0;
}

/* Color/shape of close button cross */
.bm-cross {
  background: transparent !important;
}

/* General sidebar styles */
.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.2em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  text-align: right;
  border-bottom: 1px $mainColor solid;
  display: inline-block;
  color: #d5d5d5 !important;
  padding-bottom: 1em;
  margin-top: 1em;
  &:hover {
    color: #ffffff !important;
  }
  &.b-n {
    border-radius: 30rem;
    border: solid 2px #6fccdd;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-size: 1.2em;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    &:hover,
    &:focus,
    &:active {
      background: $mainColor;
      color: $textColor;
    }
  }
}

/* Styling of overlay */
.bm-overlay {
  background: $bm-bg !important;
  top: 0px;
  right: 0px;
}

.bm-right {
  margin-left: auto;
}

.nav-bar .ui.grid > .row.bm-row {
  padding-bottom: 1em;
}
