@import "../../../styling/variable.scss";

.about{
  .section{
    margin-left: 4rem;
  }
  margin-top: 5rem;
  margin-bottom: 5rem;
  .ui.container{
    margin-bottom: 6rem;
    .section-title{
      color: #6fccdd;
    }
    .content{
      font-size: 15px;
      line-height: 2em;
      margin-bottom:20px;
    }
    .drum-img{
      background: rgb(128, 128, 128);
      &>img.ui.image{
        opacity: 0.8;
      }
    }
  }
  .team-member{
    text-align: center;
    padding-bottom: 2rem;
    .container-image{
      background:$mainColor;
      width: 75%;
      border-radius: 500rem;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2rem;
    }
    .member-image{
      border: $mainColor solid 3px;
      vertical-align: middle;
      border-radius: 500rem;
      width: 100%;
      height: 100%;
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      &:hover{
        opacity: 0.6;
      }
    }
    .member-name{
      font-weight: bold;
    }
  }

  .group-wrapper{
    width: fit-content;
    height: fit-content;
    margin: 0;
  }

  .group-photo{
    width: 100%;
    border-radius: 8px !important;
    border: solid 2px $mainColor !important;
  }

  .team,
  .partners{
    .ui.header{
      margin-bottom: 4rem;
    }
    .ui.image{
      margin-right: auto;
      margin-left: auto;
    }
    .pt{
      padding-top: 16px;
    }
  }
}

hr{
  margin-top: 40px;
  margin-bottom: 40px;
}

.teamSection{
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0rem !important;
}