@import "../../../styling/variable.scss";

.contact{
  margin-top: 5rem;
  margin-bottom: 5rem;
  .ui.container{
    margin-bottom:50px;
  }
  .ui.form .field>label{
    color: $textColor;
  }
  .g-recaptcha{
    margin-bottom: 1em;
  }
  input,
  textarea{
    background: #f0ecec;
  }
}