/*******************************
            Variables
*******************************/

@import "./variable.scss";

/*******************************
            General
*******************************/

::-webkit-scrollbar {
  position: absolute;
  
  z-index: 9999;
  width: 10px;
  bottom: 2px;
  top: 2px;
  right: 1px;
  overflow: hidden;
 }
::-webkit-scrollbar-thumb{
  box-sizing: border-box;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 100%;
  transition-duration: 0ms;
  display: block;
  height: 425px;
  transform: translate(0px, 219px) translateZ(0px);
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
}

body{
  background: $background-color !important;
  color: $textColor;
  font-family: $fontFamily;
}

hr{
  border-color: #6fccdd54;
  margin-top: 40px;
}

.ui.menu{
  font-family: $fontFamily;
}

@mixin header($fontSize){
  font-weight: 400;
  font-family: $fontFamily !important;
  font-size: $fontSize;
  color: $textColor;
}

h1.ui.header{
  @include header(38px);
  @media (max-width: $screen-mobile) {
    font-size: 32px;
  }
  color: $mainColor
}
h2.ui.header{
  @include header(32px);
  color: $mainColor
}
h3.ui.header{
  @include header(24px);
  @media (max-width: $screen-mobile) {
    font-size: 20px;
  }
}
h4.ui.header{
  @include header(16px);
}
h5.ui.header{
  @include header(14px)
}
h6.ui.header{
  @include header(12px)
}


.pad-right{
  padding-right: 4rem !important;
}

.pad-left{
  padding-left: 4rem !important;
}

.pad-top{
  padding-top: 2rem !important;
}

.pad-bottom{
  padding-bottom: 2rem !important;
  @media (max-width: 768px)  {
    padding-bottom: 1rem !important;
  }
}

.above-tablet{
  @media (max-width: $screen-tablets)  {
    display: none !important;
  }
}

.below-tablet{
  @media (min-width: $screen-tablets)  {
    display: none !important;
  }
}

.above-mobile{
  @media (max-width: $screen-mobile)  {
    display: none !important;
  }
}

.below-mobile{
  @media (min-width: $screen-mobile)  {
    display: none !important;
  }
}

/*******************************
            Button
*******************************/
.ui.button{
  background: $mainColor;
  color: $textColor;
  &:hover{
    background: $mainColorDarken;
    color:$textColor;
  }
  &:focus{
    background: $background-color;
    color: $textColor;
  }
}