$mainColor: #229999; //hsv(189, 50%, 87%);
$mainColorLight: lighten($mainColor, 10%);
$mainColorDarken: darken($mainColor, 10%);

$background-color: #1c1c1c; //hsv(240, 4%, 10%);
$background-color-light: lighten($background-color, 15%);

$textColor: #ffffff;
$textColorDarken: darken($textColor, 30%);

$fontFamily: 'Roboto', sans-serif;

$screen-xs-mobile: 600px;
$screen-mobile: 768px;
$screen-tablets: 992px;
$screen-monitor: 1200px;
$screen-xl-monitor: 1400px;

@mixin sidemargin {
  margin: 0 5em;
  overflow-x: visible;
  @media (max-width: 768px) {
    margin: 0;
  }
}

@mixin sidemargin-o {
  @include sidemargin;
  overflow-x: visible;
}
