@import '../../../styling/variable.scss';

.app-dev {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .ui.container {
    margin-bottom: 50px;
  }
  .ui.form .field > label {
    color: $textColor;
  }
  img.ui.image {
    padding-bottom: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .ui.header {
    text-align: center;
  }
  h3.ui.header {
    font-size: 18px;
  }

  .button-wrap {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    & > button.ui.button {
      padding-left: 2.5em;
      padding-right: 2.5em;
    }
  }
}
