@import '../../../styling/variable.scss';

.footer {
  color: $textColor;

  padding: 60px 90px;
  background: #121416;
  .logo {
    margin-bottom: 30px;
  }
  .ui.header {
    color: $textColor;
  }
  .ui.dropdown {
    color: #b3b3b3;
    .menu.transition.visible {
      background: rgba(22, 22, 22, 0.9);
      z-index: 2000;
      .item {
        color: #b3b3b3;
        &:hover {
          color: $textColor;
          background: rgba(96, 96, 96, 0.9) !important;
        }
      }
    }
  }
  .app-link {
    cursor: pointer;
    width: 8rem !important;
    height: 5rem;
    @media (max-width: $screen-monitor) {
      width: 12rem !important;
      height: 6rem !important;
    }
    @media (max-width: $screen-tablets) {
      width: 9rem !important;
      height: 6rem !important;
    }
    max-height: 50px;
    padding-right: 5px;
    padding-left: 5px;
  }
  ul {
    padding-left: 0;
    li {
      a {
        color: $textColorDarken;
        font-size: 2rem;
        cursor: pointer;
        -webkit-transition: 0.15s ease-in-out;
        -moz-transition: 0.15s ease-in-out;
        -o-transition: 0.15s ease-in-out;
        transition: 0.15s ease-in-out;
        &:hover {
          color: rgba(255, 255, 255, 0.88) !important;
        }
      }
      display: inline-block;
      padding-right: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  .sitemap {
    ul {
      padding-left: 0;
      li {
        a {
          color: $textColorDarken;
          font-size: 14px;
          cursor: pointer;
          -webkit-transition: 0.15s ease-in-out;
          -moz-transition: 0.15s ease-in-out;
          -o-transition: 0.15s ease-in-out;
          transition: 0.15s ease-in-out;
          &:hover {
            color: $textColor !important;
          }
          padding: 0.5rem 0rem;
        }
        display: inherit;
      }
    }
  }

  .contact {
    color: #b3b3b3;
  }

  .cpyright {
    font-size: 0.625rem;
    color: #b3b3b3;
  }

  .center-text {
    text-align: center;
  }
}
