@import '../../../styling/variable.scss';

.jumbotron {
  width: 100%;
  padding: 3rem 0;
  padding-bottom: 0;
  .jumbotron-text {
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 60px;
    @media (max-width: $screen-tablets) {
      margin-bottom: 20px;
    }
  }
  h1.ui.header {
    color: $mainColor;
    text-align: center;
    font-weight: 800;
    @media (max-width: $screen-xs-mobile) {
      font-size: 24px;
    }
    & + .subHeader {
      color: $textColor;
      text-align: center;
      font-size: 19px;
      text-transform: capitalize;
      padding-bottom: 10px;
      @media (max-width: $screen-xs-mobile) {
        font-size: 18px;
        font-weight: 300 !important;
      }
    }
  }
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .links-row {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    @media only screen and (max-width: 740px){
      flex-direction: column;
      align-items: center;
    }
  }

  .apps-wrapper {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    & .ui.image {
      width: 40%;
      height: auto;
      display: inline-block;
      padding: 4em;
      padding-bottom: 0em;
      @media (max-width: $screen-tablets) {
        padding: 0em;
        width: 50%;
      }
    }
  }
  .app-link {
    cursor: pointer;
    width: 145rem;
    color: white;
    background-image: linear-gradient(#3fa7a7 0%, #1f9999 100%);
    height: 61px;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    max-width: 15rem;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
  }
  .link-icon {
    position: absolute;
    left: 10px;
    top: 19.5px;
    width: 20px;
    height: 20px;
    padding-bottom: 2px;

  }
}
.ui.grid > .row > .column,
.ui.stackable.grid > .row > .column,
.ui.stackable.grid > .row > .wide.column {
  &.no-pad {
    padding: 0 !important;
    @media (max-width: $screen-xl-monitor) {
      padding: 0 !important;
    }
    @media (max-width: $screen-monitor) {
      padding: 0 !important;
    }
    @media (max-width: $screen-tablets) {
      padding: 0 !important;
    }
    @media (max-width: $screen-mobile) {
      padding: 0 !important;
    }
    @media (max-width: $screen-xs-mobile) {
      padding: 0 !important;
    }
  }
}
.small-pad-bottom {
  padding-bottom: 10px;
}
